@{
  Layout = "_Layout";
}

<div class="well">
  <h1>@Model.GetName()</h1>
  <h3>@Model.GetPhone()</h3>
  <p>@Model.GetAddress().GetStreet()</p>
  <p>@Model.GetAddress().GetCity()</p>
  <p>@Model.GetAddress().GetState()</p>
</div>

<br>
<p><a href="/">Back to contact list</a></p>
