<h1>New contact added!</h1>

<h2>@Model.GetName()</h2>
<h4>@Model.GetPhone()</h4>
<p>@Model.GetAddress().GetStreet()</p>
<p>@Model.GetAddress().GetCity()</p>
<p>@Model.GetAddress().GetState()</p>

<p><a href="/">Back to contact list</a></p>
